@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&display=swap');

body, h1, h3, p {
    font-family: 'Comic Neue', sans-serif;
    font-weight: bold;
}

h1 {
    padding-bottom: 20px;
}

p {
    font-size: 19px;
}

.navbar-default { 
   background-color: rgb(206, 206, 206); 
}

.article {
    padding: 10px 30px;
    background-color: rgb(213, 213, 213);
}

.top {
    font-size: 14px;
}


@media (max-width: 991px) {

.article {
    padding-bottom: 30px;
    margin-bottom: 20px;
}
}